<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style th:replace="/layout :: css"></style>
</head>
<body>
<h1>Edit Student</h1>
<form id="form" th:action="@{/city/edit/{id}(id=${city.getId()})}" method="post" th:object="${city}">
    <label>Name:
        <input type="text" th:field="*{name}" required>
        <p th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></p>
    </label>
    <label>Area:
        <input type="text" th:field="*{area}" required>
        <p th:if="${#fields.hasErrors('area')}" th:errors="*{area}"></p>
    </label>

    <label>Population:
        <input type="text" th:field="*{population}" required>
        <p th:if="${#fields.hasErrors('population')}" th:errors="*{population}"></p>
    </label>
    <label>Gdp:
        <input type="text" th:field="*{gdp}" required>
        <p th:if="${#fields.hasErrors('gdp')}" th:errors="*{gdp}"></p>
    </label>
    <label>Description:
        <input type="text" th:field="*{description}" required>
        <p th:if="${#fields.hasErrors('description')}" th:errors="*{description}"></p>
    </label>
    <label>Country:
        <select th:field="*{country}">
            <option th:each="c : ${country}" th:value="${c.getId()}" th:text="${c.getName()}"></option>
        </select>
    </label>
    <button type="submit">Edit</button>
</form>
<h4 th:class="notify" th:if="${statusEdit}">
    <p style="color: blue">"Edit Successfully"</p>
</h4>
<a th:href="@{/city}">Back to home</a>
<footer th:replace="/layout::footer"></footer>
</body>
</html>